{# UTM TRACKING #}
{% set utm_campaign = "enewsletter" %}
{% set utm_source = "wav-enewsletter-jul-2020" %} {# UTM Builder in Briefing Document #}
{% set utm_medium = "email" %}


{# HEADER #}
{% include "partials/head.nunjucks" %}


{# PREHEADER #}
{% set preheader = "July 2020 Newsletter" %}


{# LEAD ARTICLE #}
{% set greeting     = "Hello %%First_name%%," %}
{% set email_intro  = "Welcome to your Motability Scheme e-newsletter. Government restrictions are starting to ease, so in this month's e-newsletter we have Helen Dolphin's tips on driving after lockdown as well as information on our new Find a Dealer tool." %}



{# LEAD ARTICLE #}
{% set lead_article_cate_type   = "blue" %} {# blue #}
{% set article                  = "article2" %}
{% set image_url                = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/b2f3bec6-17ef-4e3b-8c58-57c6342829d3.jpg" %} {# Image size, width: 580px | height: 218px #}
{% include "partials/header.nunjucks" %}


{# STORIES 1 & 2 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article15" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/d28a2ef4-cfd7-4786-8913-d31952d162c9.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article5" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/bd763aec-4ecf-4a31-a410-c86b84f1908f.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}
    

{# STORIES 3 & 4 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article6" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/d9905a37-1c26-4791-b10e-8e89669f6009.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article12" %}
{% set space_2                  = "<br>&nbsp;" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/8767f695-0b7b-40dc-8d25-42f74be77fac.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}


{# News Links #}

{% set article_cate_type  = "blue" %}

{% set cta_button_copy_1    = "Read our latest Scheme updates on COVID-19" %}
{% set link_cta_1           = "https://news.motability.co.uk/scheme-news/updates-from-the-motability-scheme-regarding-covid-19-coronavirus/" %}
{% set utm_content_1        = "covid" %}

{% set cta_button_copy_2    = "Free colouring in with Billy the Bear " %}
{% set link_cta_2           = "https://news.motability.co.uk/inspiration/colour-in-with-billy-the-bear/" %}
{% set utm_content_2        = "billy" %}

{% set cta_button_copy_3    = "UK motorists to get seven-month extension for photocard driving licences" %}
{% set link_cta_3           = "https://news.motability.co.uk/motoring/uk-motorists-to-get-seven-month-extension-for-photocard-driving-licences/" %}
{% set utm_content_3        = "licenses" %}

{% set cta_button_copy_4    = "Article 4" %}
{% set link_cta_4           = "" %}
{% set utm_content_4        = "" %}

{% set cta_button_copy_5   = "Article 5" %}
{% set link_cta_5           = "" %}
{% set utm_content_5        = "" %}
{% include "snippets/fw-news-links.nunjucks" %}


{# FOOTER #}
{% set footer_type = "customer-wav" %} {# sign-up | prospects | customer | customer-pws | customer-wav #}
{% include "partials/footer-newsocials.nunjucks" %}