{# UTM TRACKING #}
{% set utm_campaign = "enewsletter" %}
{% set utm_source = "cust-welcome-car-enewsletter-jul-2020" %} {# UTM Builder in Briefing Document #}
{% set utm_medium = "email" %}


{# HEADER #}
{% include "partials/head.nunjucks" %}


{# PREHEADER #}
{% set preheader = "July 2020 Newsletter" %}


{# LEAD ARTICLE #}
{% set greeting     = "Hello %%First_name%%," %}
{% set email_intro  = "As a Motability Scheme customer we thought you’d like to receive our monthly e-newsletter. Highlights this month include tips to help you make the most of your lease and what social distancing measures to expect should you need to visit a dealership." %}



{# LEAD ARTICLE #}
{% set lead_article_cate_type   = "blue" %} {# blue #}
{% set article                  = "article9" %}
{% set image_url                = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/4bdcc427-7031-4cc8-95e8-17cb28bbc039.jpg" %} {# Image size, width: 580px | height: 218px #}
{% include "partials/header.nunjucks" %}


{# STORIES 1 & 2 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article1" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/216729c2-0ddf-4a36-a7a3-153c487920c4.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article2" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/7be75747-98c7-4036-9ce3-29e9a2464859.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}
    

{# STORIES 3 & 4 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article5" %}
{% set space_1                  = "<br>&nbsp;" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/bd763aec-4ecf-4a31-a410-c86b84f1908f.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article6" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/d9905a37-1c26-4791-b10e-8e89669f6009.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}


{# STORY 5 #}

{% set lead_article_cate_type   = "blue" %} {# blue #}
{% set article                  = "article4" %}
{% set image_url                = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/58e896a7-020e-47c3-9b09-65927de206c7.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/fw-story.nunjucks" %}

{# News Links #}

{% set article_cate_type  = "blue" %}

{% set cta_button_copy_1    = "Read our latest Scheme updates on COVID-19" %}
{% set link_cta_1           = "https://news.motability.co.uk/scheme-news/updates-from-the-motability-scheme-regarding-covid-19-coronavirus/" %}
{% set utm_content_1        = "covid" %}

{% set cta_button_copy_2    = "Free colouring in with Billy the Bear" %}
{% set link_cta_2           = "https://news.motability.co.uk/inspiration/colour-in-with-billy-the-bear/" %}
{% set utm_content_2        = "billy" %}

{% set cta_button_copy_3    = "An easy charging solution for electric vehicle customers" %}
{% set link_cta_3           = "https://news.motability.co.uk/scheme-news/an-easy-charging-solution-for-electric-vehicle-customers/" %}
{% set utm_content_3        = "charging" %}

{% set cta_button_copy_4    = "UK motorists to get seven-month extension for photocard driving licences" %}
{% set link_cta_4           = "https://news.motability.co.uk/motoring/uk-motorists-to-get-seven-month-extension-for-photocard-driving-licences/" %}
{% set utm_content_4        = "licenses" %}

{% set cta_button_copy_5   = "Article 5" %}
{% set link_cta_5           = "" %}
{% set utm_content_5        = "" %}
{% include "snippets/fw-news-links.nunjucks" %}


{# FOOTER #}
{% set footer_type = "customer" %} {# sign-up | prospects | customer | customer-pws | customer-wav #}
{% include "partials/footer-newsocials.nunjucks" %}