

    <!-- ************************************************** START ************************************************** -->
    <center class="o-wrapper c-bground-grey" style="width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #EDEDED;">
        <div class="o-webkit-wide" style="max-width: 580px; margin: 0 auto;">
            <!--[if (gte mso 9)|(IE)]>
        <table width="580" align="center">
        <tr>
        <td>
        <![endif]-->
            <table class="o-outer-wide c-bground-grey c-padding-top-10" align="center" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; Margin: 0 auto; width: 100%; max-width: 580px; background-color: #EDEDED; padding-top: 10px !important;" width="100%" bgcolor="#EDEDED">
                <!-- **** -->
                <!-- EXPLORE TITLE - S -->
                <tr>
                    <td class="o-one-column c-bg-white" style="padding: 0; background-color: #ffffff;" bgcolor="#ffffff">
                        <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                            <tr>
                                <td class="o-inner-explore o-contents" style="padding: 0; padding-top: 20px; padding-left: 10px; padding-right: 10px; padding-bottom: 8px; width: 100%; text-align: left;" width="100%" align="left">
                                    <p class="c-h2-no-margin c-text-center c-font-blue" style="Margin: 0; color: #0072bc; font-size: 18px; font-weight: bold; Margin-bottom: 0px; font-family: 'Tahoma', sans-serif, 'Fira Sans'; text-align: center;">Explore more of the latest articles from these categories:</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- EXPLORE TITLE - E -->
                <!-- EXPLORE LINKS - S -->
                <tr>
                    <td class="o-five-column c-bg-white" style="padding: 10px; text-align: center; font-size: 0; background-color: #ffffff;" align="center" bgcolor="#ffffff">
                        <!--[if (gte mso 9)|(IE)]>
                        <table width="100%">
                        <tr>
                        <![endif]-->
                        <!--[if (gte mso 9)|(IE)]>
                        <td width="110" valign="top">
                        <![endif]-->
                        <div class="o-column" style="width: 100%; max-width: 110px; display: inline-block; vertical-align: top;">
                          <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                            <tr>
                              <td class="o-inner-small" style="padding: 2px;">
                                <table class="o-contents c-border-solid c-border-purple" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; width: 100%; border: solid 2px; border-color: #5f1f4d; text-align: left;" width="100%" align="left">
                                  <tr>
                                    <td class="c-five-column-heading" style="padding: 0; padding-top: 4px; padding-bottom: 0; padding-right: 4px; padding-left: 4px;">
                                      <p class="c-h3 c-font-purple" style="Margin: 0; color: #5f1f4d; font-size: 14px; line-height: 14px; font-weight: bold; Margin-bottom: 12px; font-family: 'Tahoma', sans-serif, 'Fira Sans';">
                                      <a href="https://news.motability.co.uk/motoring/?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content=motoring" class="c-font-purple" target="_blank" style="text-decoration: none; color: #5f1f4d;">Motoring<br>&nbsp;</a>
                                      </p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="c-five-column-body" style="padding: 0; padding-top: 0px; padding-bottom: 4px; padding-right: 4px; padding-left: 4px;">
                                      <p class="c-body-font-11-explore c-font-grey" style="Margin: 0; color: #333333; font-size: 11px; line-height: 14px; Margin-bottom: 0px !important; padding-bottom: 0px !important; font-family: 'Tahoma', sans-serif, 'Fira Sans'; letter-spacing: 0px;">
                                      <a href="https://news.motability.co.uk/motoring/?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content=motoring" class="c-font-grey" target="_blank" style="text-decoration: none; color: #333333; font-family: 'Tahoma', sans-serif, 'Fira Sans';">Vehicles, tech and trends</a>
                                      </p>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        
                        </div>
                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                        <![endif]-->                        <!--[if (gte mso 9)|(IE)]>
                        <td width="110" valign="top">
                        <![endif]-->
                        <div class="o-column" style="width: 100%; max-width: 110px; display: inline-block; vertical-align: top;">
                          <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                            <tr>
                              <td class="o-inner-small" style="padding: 2px;">
                                <table class="o-contents c-border-solid c-border-green" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; width: 100%; border: solid 2px; border-color: #006674; text-align: left;" width="100%" align="left">
                                  <tr>
                                    <td class="c-five-column-heading" style="padding: 0; padding-top: 4px; padding-bottom: 0; padding-right: 4px; padding-left: 4px;">
                                      <p class="c-h3 c-font-green" style="Margin: 0; color: #006674; font-size: 14px; line-height: 14px; font-weight: bold; Margin-bottom: 12px; font-family: 'Tahoma', sans-serif, 'Fira Sans';">
                                      <a href="https://news.motability.co.uk/places/?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content=places" class="c-font-green" target="_blank" style="text-decoration: none; color: #006674; font-family: 'Tahoma', sans-serif, 'Fira Sans';">Places<br>&nbsp;</a>
                                      </p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="c-five-column-body" style="padding: 0; padding-top: 0px; padding-bottom: 4px; padding-right: 4px; padding-left: 4px;">
                                      <p class="c-body-font-11-explore c-font-grey" style="Margin: 0; color: #333333; font-size: 11px; line-height: 14px; Margin-bottom: 0px !important; padding-bottom: 0px !important; font-family: 'Tahoma', sans-serif, 'Fira Sans'; letter-spacing: 0px;">
                                      <a href="https://news.motability.co.uk/places/?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content=places" class="c-font-grey" target="_blank" style="text-decoration: none; color: #333333; font-family: 'Tahoma', sans-serif, 'Fira Sans';">Accessible travelling</a>
                                      </p>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        
                        </div>
                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                        <![endif]-->                        <!--[if (gte mso 9)|(IE)]>
                        <td width="110" valign="top">
                        <![endif]-->
                        <div class="o-column" style="width: 100%; max-width: 110px; display: inline-block; vertical-align: top;">
                          <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                            <tr>
                              <td class="o-inner-small" style="padding: 2px;">
                                <table class="o-contents c-border-solid c-border-orange" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; width: 100%; border: solid 2px; border-color: #d36300; text-align: left;" width="100%" align="left">
                                  <tr>
                                    <td class="c-five-column-heading" style="padding: 0; padding-top: 4px; padding-bottom: 0; padding-right: 4px; padding-left: 4px;">
                                      <p class="c-h3 c-font-orange" style="Margin: 0; color: #d36300; font-size: 14px; line-height: 14px; font-weight: bold; Margin-bottom: 12px; font-family: 'Tahoma', sans-serif, 'Fira Sans';">
                                      <a href="https://news.motability.co.uk/everyday-tips/?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content=everyday" class="c-font-orange" target="_blank" style="text-decoration: none; color: #d36300; font-family: 'Tahoma', sans-serif, 'Fira Sans';">veryday&nbsp;<br>tips</a>
                                      </p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="c-five-column-body" style="padding: 0; padding-top: 0px; padding-bottom: 4px; padding-right: 4px; padding-left: 4px;">
                                      <p class="c-body-font-11-explore c-font-grey" style="Margin: 0; color: #333333; font-size: 11px; line-height: 14px; Margin-bottom: 0px !important; padding-bottom: 0px !important; font-family: 'Tahoma', sans-serif, 'Fira Sans'; letter-spacing: 0px;">
                                      <a href="https://news.motability.co.uk/everyday-tips/?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content=everyday" class="c-font-grey" target="_blank" style="text-decoration: none; color: #333333; font-family: 'Tahoma', sans-serif, 'Fira Sans';">Getting out and about</a>
                                      </p>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        
                        </div>
                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                        <![endif]-->                        <!--[if (gte mso 9)|(IE)]>
                        <td width="110" valign="top">
                        <![endif]-->
                        <div class="o-column" style="width: 100%; max-width: 110px; display: inline-block; vertical-align: top;">
                          <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                            <tr>
                              <td class="o-inner-small" style="padding: 2px;">
                                <table class="o-contents c-border-solid c-border-pink" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; width: 100%; border: solid 2px; border-color: #b60d42; text-align: left;" width="100%" align="left">
                                  <tr>
                                    <td class="c-five-column-heading" style="padding: 0; padding-top: 4px; padding-bottom: 0; padding-right: 4px; padding-left: 4px;">
                                      <p class="c-h3 c-font-pink" style="Margin: 0; color: #b60d42; font-size: 14px; line-height: 14px; font-weight: bold; Margin-bottom: 12px; font-family: 'Tahoma', sans-serif, 'Fira Sans';">
                                      <a href="https://news.motability.co.uk/inspiration/?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content=inspiration" class="c-font-pink" target="_blank" style="text-decoration: none; color: #b60d42; font-family: 'Tahoma', sans-serif, 'Fira Sans';">Inspiration<br>&nbsp;</a>
                                      </p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="c-five-column-body" style="padding: 0; padding-top: 0px; padding-bottom: 4px; padding-right: 4px; padding-left: 4px;">
                                      <p class="c-body-font-11-explore c-font-grey" style="Margin: 0; color: #333333; font-size: 11px; line-height: 14px; Margin-bottom: 0px !important; padding-bottom: 0px !important; font-family: 'Tahoma', sans-serif, 'Fira Sans'; letter-spacing: 0px;">
                                      <a href="https://news.motability.co.uk/inspiration/?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content=inspiration" class="c-font-grey" target="_blank" style="text-decoration: none; color: #333333; font-family: 'Tahoma', sans-serif, 'Fira Sans';">Your stories and hobbies</a>
                                      </p>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        
                        </div>
                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                        <![endif]-->                        <!--[if (gte mso 9)|(IE)]>
                        <td width="110" valign="top">
                        <![endif]-->
                        <div class="o-column" style="width: 100%; max-width: 110px; display: inline-block; vertical-align: top;">
                          <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                            <tr>
                              <td class="o-inner-small" style="padding: 2px;">
                                <table class="o-contents c-border-solid c-border-blue" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; width: 100%; border: solid 2px; border-color: #0072bc; text-align: left;" width="100%" align="left">
                                  <tr>
                                    <td class="c-five-column-heading" style="padding: 0; padding-top: 4px; padding-bottom: 0; padding-right: 4px; padding-left: 4px;">
                                      <p class="c-h3 c-font-blue" style="Margin: 0; color: #0072bc; font-size: 14px; line-height: 14px; font-weight: bold; Margin-bottom: 12px; font-family: 'Tahoma', sans-serif, 'Fira Sans';">
                                      <a href="https://news.motability.co.uk/scheme-news/?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content=scheme-news" class="c-font-blue" target="_blank" style="text-decoration: none; color: #0072bc; font-family: 'Tahoma', sans-serif, 'Fira Sans';">Scheme <br>news</a>
                                      </p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="c-five-column-body" style="padding: 0; padding-top: 0px; padding-bottom: 4px; padding-right: 4px; padding-left: 4px;">
                                      <p class="c-body-font-11-explore c-font-grey" style="Margin: 0; color: #333333; font-size: 11px; line-height: 14px; Margin-bottom: 0px !important; padding-bottom: 0px !important; font-family: 'Tahoma', sans-serif, 'Fira Sans'; letter-spacing: 0px;">
                                      <a href="https://news.motability.co.uk/scheme-news/?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content=scheme-news" class="c-font-grey" target="_blank" style="text-decoration: none; color: #333333; font-family: 'Tahoma', sans-serif, 'Fira Sans';">Motability Scheme updates</a>
                                      </p>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        
                        </div>
                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                        <![endif]-->                        <!--[if (gte mso 9)|(IE)]>
                        </tr>
                        </table>
                        <![endif]-->
                    </td>
                </tr>
                <!-- EXPLORE LINKS - E -->
                <!-- KEYLINE - S -->
                <tr>
                    <td style="padding: 0;">
                        <table class="c-divider-wrapper" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; width: 100%;" width="100%">
                          <tr>
                            <td class="c-divider-spacer" style="padding: 10px 18px 0px 18px; background-color: #ffffff;" bgcolor="#ffffff">
                              <table class="c-divider" cellpadding="0" cellspacing="0" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; border-collapse: separate; width: 100%;" width="100%">
                                <tr>
                                  <td style="padding: 0; border-top: 1px solid #EEEEEE; line-height: 0; font-size: 0; height: 1px; margin: 0;"></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>                    </td>
                </tr>
                {% if (footer_type == 'sign-up') %}
                  {% include "partials/footer/sign-up.nunjucks" %}
                {% elseif (footer_type == 'prospects') %}
                  {% include "partials/footer/prospects.nunjucks" %}
                {% elseif (footer_type == 'customer') %}  
                  {% include "partials/footer/customer.nunjucks" %}
                {% elseif (footer_type == 'customer-pws') %}  
                  {% include "partials/footer/customer-pws.nunjucks" %}
                {% endif %}
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </div>
    </center>
<!-- *************************************************** END *************************************************** -->
<!-- SOCIAL - S -->
<!-- ************************************************** START ************************************************** -->
    <center class="o-wrapper c-bground-grey" style="width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #EDEDED;">
        <div class="o-webkit-wide" style="max-width: 580px; margin: 0 auto;">
            <!--[if (gte mso 9)|(IE)]>
        <table width="580" align="center">
        <tr>
        <td>
        <![endif]-->
            <table class="o-outer-wide" align="center" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; Margin: 0 auto; width: 100%; max-width: 580px;" width="100%">
                <!-- **** -->
                <!-- TWO COLUMN POD - S -->
                <tr>
                    <td class="o-left-sidebar-social" style="padding: 0; text-align: center; background-color: #0072bc;" align="center" bgcolor="#0072bc">
                        <!--[if (gte mso 9)|(IE)]>
                        <table width="100%">
                        <tr>
                        <td width="290" align="center">
                        <![endif]-->
                        <div class="o-column o-left" style="width: 100%; display: inline-block; vertical-align: middle; max-width: 280px; text-align: center;">
                                <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                                    <tr>
                                        <td class="o-inner" style="padding: 10px; text-align: center;" align="center">
                                            <a href="https://www.facebook.com/motability" target="_blank" class="c-font-white" style="text-decoration: none; color: #ffffff;"><img src="http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/1/social_facebook.png" alt="Like us on Facebook" style="border: 0; display: inline-block;"></a>
                                        </td>
                                    </tr>
                                </table>
                        </div>
                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                        <td width="290" align="center">
                        <![endif]-->
                        <div class="o-column o-right" style="width: 100%; display: inline-block; vertical-align: middle; max-width: 280px; text-align: center;">
                            <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                                <tr>
                                    <td class="o-inner" style="padding: 10px; text-align: center;" align="center">
                                       <a href="%%ftaf_url%%" target="_blank" class="c-font-white" style="text-decoration: none; color: #ffffff;"><img src="http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/1/forward.png" alt="Forward to a friend" style="border: 0; display: inline-block;"></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                        </tr>
                        </table>
                        <![endif]-->
                    </td>
                </tr>
                <!-- TWO COLUMN POD - E -->
                <!-- **** -->
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </div>
    </center>
<!-- *************************************************** END *************************************************** -->
<!-- SOCIAL - E -->
<!-- ************************************************** START ************************************************** -->
    <center class="o-wrapper c-bground-grey" style="width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #EDEDED;">
        <div class="o-webkit" style="max-width: 600px; margin: 0 auto;">
            <!--[if (gte mso 9)|(IE)]>
        <table width="580" align="center">
        <tr>
        <td>
        <![endif]-->
            <table class="o-outer-wide c-bg-bg-grey" align="center" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; Margin: 0 auto; width: 100%; max-width: 580px;" width="100%">
                <!-- **** -->
                <!-- FOOTER TEXT - S -->
                <tr>
                    <td class="o-one-column" style="padding: 0;">
                        <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                            <tr>
                                <td class="o-inner o-contents" style="padding: 10px; width: 100%; text-align: left;" width="100%" align="left">
                                   <p class="c-body-font-footer c-text-center c-font-light-grey" style="Margin: 0; color: #575757; font-size: 12px; line-height: 20px; Margin-bottom: 10px; font-family: 'Tahoma', sans-serif, 'Fira Sans'; text-align: center;">We are Motability Operations Limited, all Motability Scheme vehicles are leased to customers by us. Motability Operations Limited is authorised and regulated by the Financial Conduct Authority. Registered in England and Wales Co No <span class="c-apple-links-grey">1373876</span>. Registered address: Motability Operations Limited, City Gate House, 22 Southwark Bridge Road, London, SE1 9HB.</p>
                                   <p class="c-body-font-footer c-text-center c-font-light-grey" style="Margin: 0; color: #575757; font-size: 12px; line-height: 20px; Margin-bottom: 10px; font-family: 'Tahoma', sans-serif, 'Fira Sans'; text-align: center;">We are committed to protecting and safeguarding your personal data. View our <a href="https://www.motability.co.uk/utilities/privacy-notice/" target="_blank" class="c-font-light-grey c-text-underline" style="color: #575757; text-decoration: underline !important; font-family: 'Tahoma', sans-serif, 'Fira Sans';"><strong>privacy notice here</strong>.</a></p>
                                   <p class="c-body-font-footer c-text-center c-font-light-grey" style="Margin: 0; color: #575757; font-size: 12px; line-height: 20px; Margin-bottom: 10px; font-family: 'Tahoma', sans-serif, 'Fira Sans'; text-align: center;">If you do not wish to receive any further Scheme e-Newsletters from Motability Operations Limited, please <a href="%%unsub_center_url%%" target="_blank" class="c-font-light-grey c-text-underline" style="color: #575757; text-decoration: underline !important; font-family: 'Tahoma', sans-serif, 'Fira Sans';"><strong>click this link to unsubscribe</strong>.</a></p>                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- FOOTER TEXT - E -->
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </div>
    </center> 
    <div>
</div></div>
<custom name="opencounter" type="tracking" /> 
</body>
</html>