

    <!-- ************************************************** START ************************************************** -->
    <center class="o-wrapper c-bground-grey" style="width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #EDEDED;">
        <div class="o-webkit-wide" style="max-width: 580px; margin: 0 auto;">
            <!--[if (gte mso 9)|(IE)]>
        <table width="580" align="center">
        <tr>
        <td>
        <![endif]-->
            <table class="o-outer-wide c-bground-grey c-padding-top-10" align="center" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; Margin: 0 auto; width: 100%; max-width: 580px; background-color: #EDEDED; padding-top: 10px !important;" width="100%" bgcolor="#EDEDED">
                <!-- **** -->
               
                <!-- KEYLINE - S -->

                
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </div>
    </center>
<!-- *************************************************** END *************************************************** -->
<!-- SOCIAL - S -->
<!-- ************************************************** START ************************************************** -->
    <center class="o-wrapper c-bground-grey" style="width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #EDEDED;">
        <div class="o-webkit-wide" style="max-width: 580px; margin: 0 auto;">
            <!--[if (gte mso 9)|(IE)]>
        <table width="580" align="center">
        <tr>
        <td>
        <![endif]-->
            <table class="o-outer-wide" align="center" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; Margin: 0 auto; width: 100%; max-width: 580px;" width="100%">
                <!-- **** -->
                <!-- TWO COLUMN POD - S -->
                <tr>
                    <td class="o-left-sidebar-social" style="padding: 0; text-align: center; background-color: #223f8f;" align="center" bgcolor="#223f8f">
                        
                        <div style="display: inline-block; width: 100%; vertical-align: top; max-width: 560px; text-align: center">
                        <!--[if (gte mso 9)|(IE)]>
                        <table width="100%">
                        <tr>
                        <td width="560" align="center">
                        <![endif]-->
                                <table width="560" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; width: 100%;">
                                    <tr>
                                      <div style="font-size: 15px; height: 15px; line-height: 15px;">&nbsp;</div>
                                        <td width="5" style="width:5px;">&nbsp;</td>
                                        <td style="text-align: middle;" align="center">
                                            <a href="https://www.facebook.com/motability" target="_blank" style="text-decoration: none; color: #ffffff;"><img src="http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/89cf4288-9410-417d-b908-4d6bb765801b.png" alt="Like us on Facebook" height="50" style="border: 0; display: block; padding-left: 10;padding-right:10;">
                                            </a>
                                          </td>
                                          <td width="5" style="width:5px;">&nbsp;</td>
                                          <td style="text-align: left; vertical-align:middle;" align="left" valign="middle">
                                            <a href="https://www.facebook.com/motability" target="_blank" style="text-decoration: none; color: #ffffff;">
                                            <p style="color: #ffffff; font-size: 12px; font-family: 'Tahoma', sans-serif, 'Fira Sans'; padding-left: 10px; vertical-align:middle;">
                                             Like our Facebook page to join in on the conversation and stay up-to-date with Scheme&nbsp;news</p>
                                             </a>
                                          </td>
                                          <td class="mobile-hide" style="width: 60px;" valign="middle" align="left">
                                          
                         
                                        </td>
                                    </tr>
                                </table>
                                <!--[if (gte mso 9)|(IE)]>
                        </td>
                        </tr>
                        </table>
                        <![endif]-->
                        </div>
                        <div style="font-size: 10px; height: 10px; line-height: 10px;">&nbsp;</div>
                    </td>
                </tr>
                <!-- TWO COLUMN POD - E -->
                <!-- **** -->
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </div>
    </center>
<!-- *************************************************** END *************************************************** -->
<!-- SOCIAL - E -->
<!-- ************************************************** START ************************************************** -->
    <center class="o-wrapper c-bground-grey" style="width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #EDEDED;">
        <div class="o-webkit" style="max-width: 600px; margin: 0 auto;">
            <!--[if (gte mso 9)|(IE)]>
        <table width="580" align="center">
        <tr>
        <td>
        <![endif]-->
            <table class="o-outer-wide c-bg-bg-grey" align="center" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; Margin: 0 auto; width: 100%; max-width: 580px;" width="100%">
                <!-- **** -->
                <!-- FOOTER TEXT - S -->
                <tr>
                    <td class="o-one-column" style="padding: 0;">
                        <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                            <tr>
                                <td class="o-inner o-contents" style="padding: 10px; width: 100%; text-align: left;" width="100%" align="left">
                                   <p class="c-body-font-footer c-text-center c-font-light-grey" style="Margin: 0; color: #575757; font-size: 12px; line-height: 20px; Margin-bottom: 10px; font-family: 'Tahoma', sans-serif, 'Fira Sans'; text-align: center;">We are Motability Operations Limited, all Motability Scheme vehicles are leased to customers by us. Motability Operations Limited is authorised and regulated by the Financial Conduct Authority. Registered in England and Wales Co No <span class="c-apple-links-grey">1373876</span>. Registered address: Motability Operations Limited, City Gate House, 22 Southwark Bridge Road, London, SE1 9HB.</p>
                                   <p class="c-body-font-footer c-text-center c-font-light-grey" style="Margin: 0; color: #575757; font-size: 12px; line-height: 20px; Margin-bottom: 10px; font-family: 'Tahoma', sans-serif, 'Fira Sans'; text-align: center;">We are committed to protecting and safeguarding your personal data. View our <a href="https://www.motability.co.uk/utilities/privacy-notice/" target="_blank" class="c-font-light-grey c-text-underline" style="color: #575757; text-decoration: underline !important; font-family: 'Tahoma', sans-serif, 'Fira Sans';"><strong>privacy notice here</strong>.</a></p>
                                   <p class="c-body-font-footer c-text-center c-font-light-grey" style="Margin: 0; color: #575757; font-size: 12px; line-height: 20px; Margin-bottom: 10px; font-family: 'Tahoma', sans-serif, 'Fira Sans'; text-align: center;">If you do not wish to receive any further Scheme e-Newsletters from Motability Operations Limited, please <a href="%%unsub_center_url%%" target="_blank" class="c-font-light-grey c-text-underline" style="color: #575757; text-decoration: underline !important; font-family: 'Tahoma', sans-serif, 'Fira Sans';"><strong>click this link to unsubscribe</strong>.</a></p>                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- FOOTER TEXT - E -->
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </div>
    </center> 
    <div>
</div></div>
<custom name="opencounter" type="tracking" /> 
</body>
</html>