{% set link_headline = link_headline if link_headline else link_image %}
{% set link_cta = link_cta if link_cta else link_image %}
{% set link = link if link else link_image %}

{% if (lead_article_cate_type == 'green') %}
    {% set color = '#006674' %}
{% elif (lead_article_cate_type == 'blue') %}
    {% set color = '#223f8f' %}
{% elif (lead_article_cate_type == 'purple') %}
    {% set color = '#5f1f4d' %}
{% elif (lead_article_cate_type == 'orange') %}
    {% set color = '#d36300' %}
{% elif (lead_article_cate_type == 'pink') %}
    {% set color = '#B60E42' %}
{% else %}
    {% set color = '#0072bc' %}
{% endif %}



    <!-- ************************************************** START ************************************************** -->
    <center class="o-wrapper c-bground-grey" style="width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #EDEDED;">
        <div class="o-webkit-wide" style="max-width: 580px; margin: 0 auto;">
            <!--[if (gte mso 9)|(IE)]>
            <table width="580" align="center">
            <tr>
            <td>
            <![endif]-->
            <table class="o-outer-wide c-bground-grey c-margin-bottom-10" align="center" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; Margin: 0 auto; width: 100%; max-width: 580px; background-color: #EDEDED; Margin-bottom: 10px !important;" width="100%" bgcolor="#EDEDED">
                <!-- **** -->
               <!-- HEADER INFO - S -->
                <tr>
                    <td class="o-one-column c-bg-bg-grey" style="padding: 0;">
                        <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                            <tr>
                                <td class="o-inner-info" width="50%" align="left" style="padding: 0; padding-top: 20px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
                                    <p class="c-font-blue c-body-font-12" style="Margin: 0; color: #223f8f; font-size: 12px; line-height: 14px; Margin-bottom: 0px !important; padding-bottom: 0px !important; font-family: 'Tahoma', sans-serif, 'Fira Sans';">{{preheader}}</p>
                                </td>
                                <td class="o-inner-info" width="50%" align="right" style="padding: 0; padding-top: 20px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
                                    <p class="c-view-online" style="Margin: 0; text-align: right;">
                                        <a href="%%view_email_url%%" target="_blank" class="c-font-blue c-body-font-12" style="text-decoration: none; color: #223f8f; font-size: 12px; line-height: 14px; Margin-bottom: 0px !important; padding-bottom: 0px !important; font-family: 'Tahoma', sans-serif, 'Fira Sans';">View Online</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- HEADER INFO - S -->
                <!-- HEADER IMAGE - S -->
                <tr>
                    <td class="o-full-width-image" style="padding: 0;">
                        <a href="{{link_image | safe}}?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content={{image_name | replace(' ', '-') | lower }}" target="_blank" style="text-decoration: none;">
                            <img src="{{image_url}}" alt="{{image_name}}" class="c-font-white" style="border: 0; display: block; width: 100%; max-width: 580px; height: auto;">
                        </a>
                    </td>
                </tr>
                <!-- HEADER IMAGE - E -->
                <!-- HEADER TEXT - S -->
                <tr>
                    <td class="o-one-column" style="padding: 0; background-color: #ffffff;" bgcolor="#ffffff">
                        <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                            <tr>
                                <td class="o-inner o-contents" style="padding: 10px; width: 100% !important; text-align: center;" width="100%" align="center">
                                <div style="line-height: 20px; height: 20px; font-size: 20px;">&nbsp;</div>
                                    <p class="c-h1 c-text-center c-font-white" style="Margin: 0; color: #2fa487; font-size: 30px; line-height: 40px; font-weight: bold; Margin-bottom: 10px; font-family: 'Tahoma', sans-serif, 'Fira Sans'; text-align: center;">
                                    
                                        <a class="c-font-white" href="{{link_headline | safe}}?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content={{image_name | replace(' ', '-') | lower }}" target="_blank" style="text-decoration: none; color: #2fa487; font-family: 'Tahoma', sans-serif, 'Fira Sans';">
                                            {{headline | safe}}
                                        </a>
                                    </p>
                                    <p class="c-body-font-14 c-text-center c-font-white" style="Margin: 0; color: #000000; font-size: 14px; line-height: 20px; Margin-bottom: 12px; font-family: 'Tahoma', sans-serif, 'Fira Sans'; text-align: center;">
                                        {{body_copy | safe}}
                                    </p>
                                    <table cellpadding="0" cellspacing="0" class="c-btn c-btn-white" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; width: 100% !important; padding: 0; margin: 0;" width="100%" align="center">
                                        <tr>
                                            <td align="center" style="padding: 0; padding-bottom: 5px; text-align: center;">
                                                
                                                <div style="line-height: 10px; height: 10px; font-size: 10px;">&nbsp;</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- HEADER TEXT - E -->
                <!-- **** -->
            </table>
            <!--[if (gte mso 9)|(IE)]>
            <div style="line-height: 20px; height: 20px; font-size: 20px;">&nbsp;</div>
            </td>
            </tr>
            </table>
            <![endif]-->
        </div>
    </center>
    <!-- *************************************************** END *************************************************** -->