{% if (article == "article1") %}
    {% set image_name               = base.article1.image_name %}
    {% set headline                 = base.article1.headline %}
    {% set body_copy                = base.article1.body_copy %}
    {% set cta_button_copy          = base.article1.cta_button_copy %}
    {% set link_image               = base.article1.link_image %}
{% elif (article == "article2") %}
    {% set image_name               = base.article2.image_name %}
    {% set headline                 = base.article2.headline %}
    {% set body_copy                = base.article2.body_copy %}
    {% set cta_button_copy          = base.article2.cta_button_copy %}
    {% set link_image               = base.article2.link_image %}
{% elif (article == "article3") %}
    {% set image_name               = base.article3.image_name %}
    {% set headline                 = base.article3.headline %}
    {% set body_copy                = base.article3.body_copy %}
    {% set cta_button_copy          = base.article3.cta_button_copy %}
    {% set link_image               = base.article3.link_image %}
{% elif (article == "article4") %}
    {% set image_name               = base.article4.image_name %}
    {% set headline                 = base.article4.headline %}
    {% set body_copy                = base.article4.body_copy %}
    {% set cta_button_copy          = base.article4.cta_button_copy %}
    {% set link_image               = base.article4.link_image %}
{% elif (article == "article5") %}
    {% set image_name               = base.article5.image_name %}
    {% set headline                 = base.article5.headline %}
    {% set body_copy                = base.article5.body_copy %}
    {% set cta_button_copy          = base.article5.cta_button_copy %}
    {% set link_image               = base.article5.link_image %}
{% elif (article == "article6") %}
    {% set image_name               = base.article6.image_name %}
    {% set headline                 = base.article6.headline %}
    {% set body_copy                = base.article6.body_copy %}
    {% set cta_button_copy          = base.article6.cta_button_copy %}
    {% set link_image               = base.article6.link_image %}
{% elif (article == "article7") %}
    {% set image_name               = base.article7.image_name %}
    {% set headline                 = base.article7.headline %}
    {% set body_copy                = base.article7.body_copy %}
    {% set cta_button_copy          = base.article7.cta_button_copy %}
    {% set link_image               = base.article7.link_image %}
{% elif (article == "article8") %}
    {% set image_name               = base.article8.image_name %}
    {% set headline                 = base.article8.headline %}
    {% set body_copy                = base.article8.body_copy %}
    {% set cta_button_copy          = base.article8.cta_button_copy %}
    {% set link_image               = base.article8.link_image %}
{% elif (article == "article9") %}
    {% set image_name               = base.article9.image_name %}
    {% set headline                 = base.article9.headline %}
    {% set body_copy                = base.article9.body_copy %}
    {% set cta_button_copy          = base.article9.cta_button_copy %}
    {% set link_image               = base.article9.link_image %}
{% elif (article == "article10") %}
    {% set image_name               = base.article10.image_name %}
    {% set headline                 = base.article10.headline %}
    {% set body_copy                = base.article10.body_copy %}
    {% set cta_button_copy          = base.article10.cta_button_copy %}
    {% set link_image               = base.article10.link_image %}
{% elif (article == "article11") %}
    {% set image_name               = base.article11.image_name %}
    {% set headline                 = base.article11.headline %}
    {% set body_copy                = base.article11.body_copy %}
    {% set cta_button_copy          = base.article11.cta_button_copy %}
    {% set link_image               = base.article11.link_image %}
{% elif (article == "article12") %}
    {% set image_name               = base.article12.image_name %}
    {% set headline                 = base.article12.headline %}
    {% set body_copy                = base.article12.body_copy %}
    {% set cta_button_copy          = base.article12.cta_button_copy %}
    {% set link_image               = base.article12.link_image %}
{% elif (article == "article13") %}
    {% set image_name               = base.article13.image_name %}
    {% set headline                 = base.article13.headline %}
    {% set body_copy                = base.article13.body_copy %}
    {% set cta_button_copy          = base.article13.cta_button_copy %}
    {% set link_image               = base.article13.link_image %}
{% elif (article == "article14") %}
    {% set image_name               = base.article14.image_name %}
    {% set headline                 = base.article14.headline %}
    {% set body_copy                = base.article14.body_copy %}
    {% set cta_button_copy          = base.article14.cta_button_copy %}
    {% set link_image               = base.article14.link_image %}
{% elif (article == "article15") %}
    {% set image_name               = base.article15.image_name %}
    {% set headline                 = base.article15.headline %}
    {% set body_copy                = base.article15.body_copy %}
    {% set cta_button_copy          = base.article15.cta_button_copy %}
    {% set link_image               = base.article15.link_image %}
{% elif (article == "article16") %}
    {% set image_name               = base.article16.image_name %}
    {% set headline                 = base.article16.headline %}
    {% set body_copy                = base.article16.body_copy %}
    {% set cta_button_copy          = base.article16.cta_button_copy %}
    {% set link_image               = base.article16.link_image %}
{% elif (article == "article17") %}
    {% set image_name               = base.article17.image_name %}
    {% set headline                 = base.article17.headline %}
    {% set body_copy                = base.article17.body_copy %}
    {% set cta_button_copy          = base.article17.cta_button_copy %}
    {% set link_image               = base.article17.link_image %}
{% elif (article == "article18") %}
    {% set image_name               = base.article18.image_name %}
    {% set headline                 = base.article18.headline %}
    {% set body_copy                = base.article18.body_copy %}
    {% set cta_button_copy          = base.article18.cta_button_copy %}
    {% set link_image               = base.article18.link_image %}
{% elif (article == "article19") %}
    {% set image_name               = base.article19.image_name %}
    {% set headline                 = base.article19.headline %}
    {% set body_copy                = base.article19.body_copy %}
    {% set cta_button_copy          = base.article19.cta_button_copy %}
    {% set link_image               = base.article19.link_image %}
{% endif %}

{% set link_headline = link_headline if link_headline else link_image %}
{% set link_cta = link_cta if link_cta else link_image %}
{% set link = link if link else link_image %}

{% if (lead_article_cate_type == 'green') %}
    {% set color = '#006674' %}
{% elif (lead_article_cate_type == 'blue') %}
    {% set color = '#223f8f' %}
{% elif (lead_article_cate_type == 'purple') %}
    {% set color = '#5f1f4d' %}
{% elif (lead_article_cate_type == 'orange') %}
    {% set color = '#d36300' %}
{% elif (lead_article_cate_type == 'pink') %}
    {% set color = '#B60E42' %}
{% else %}
    {% set color = '#0072bc' %}
{% endif %}



    <!-- ************************************************** START ************************************************** -->
    <center class="o-wrapper c-bground-grey" style="width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #EDEDED;">
        <div class="o-webkit-wide" style="max-width: 580px; margin: 0 auto;">
            <!--[if (gte mso 9)|(IE)]>
            <table width="580" align="center">
            <tr>
            <td>
            <![endif]-->
            <table class="o-outer-wide c-bground-grey c-margin-bottom-10" align="center" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; Margin: 0 auto; width: 100%; max-width: 580px; background-color: #EDEDED; Margin-bottom: 10px !important;" width="100%" bgcolor="#EDEDED">
                <!-- **** -->
                <!-- HEADER INFO - S -->
                <tr>
                    <td class="o-one-column c-bg-bg-grey" style="padding: 0;">
                        <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                            <tr>
                                <td class="o-inner-info" width="50%" align="left" style="padding: 0; padding-top: 20px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
                                    <p class="c-font-blue c-body-font-12" style="Margin: 0; color: #223f8f; font-size: 12px; line-height: 14px; Margin-bottom: 0px !important; padding-bottom: 0px !important; font-family: 'Tahoma', sans-serif, 'Fira Sans';">{{preheader}}</p>
                                </td>
                                <td class="o-inner-info" width="50%" align="right" style="padding: 0; padding-top: 20px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
                                    <p class="c-view-online" style="Margin: 0; text-align: right;">
                                        <a href="%%view_email_url%%" target="_blank" class="c-font-blue c-body-font-12" style="text-decoration: none; color: #223f8f; font-size: 12px; line-height: 14px; Margin-bottom: 0px !important; padding-bottom: 0px !important; font-family: 'Tahoma', sans-serif, 'Fira Sans';">View Online</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- HEADER INFO - S -->
                <!-- LOGO - S -->
                <tr>
                    <td class="o-one-column" style="padding: 0;">
                        <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; width: 100%; min-width:100%;">
                            <tr>
                                <td class="o-contents c-bg-blue" style="padding: 0; width: 100%; background-color: #223f8f; text-align: left;" width="100%" align="left" bgcolor="#223f8f">
                                    <a href="http://www.motability.co.uk/?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content=homepage-logo-a" target="_blank" class="c-font-white" style="text-decoration: none; color: #ffffff;">
                                        <img src="http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/1/motability_logo.png" alt="Motability Operations" style="border: 0; display: block;">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- LOGO - E -->
                
                <!-- INTRO TEXT - S -->
                <tr>
                    <td class="o-one-column c-bg-white" style="padding: 0; background-color: #ffffff;" bgcolor="#ffffff">
                        <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                            <tr>
                                <td class="o-inner-welcome o-contents c-welcome-text" style="padding-bottom: 25px; padding-left: 25px; padding-right: 25px; padding-top: 5px; width: 100%; text-align: left;" width="100%" align="left">
                                <div style="height: 10px; line-height: 10px; font-size: 10px;">&nbsp;</div>
                                <p class="c-h1 c-font-blue c-text-center" style="Margin: 0; color: #223f8f; font-size: 24px; font-weight: bold; Margin-bottom: 10px; font-family: 'Tahoma', sans-serif, 'Fira Sans'; text-align: center;">
                                    {{greeting | safe}}
                                </p>
                                <p class="c-body-font-14 c-font-grey c-text-center" style="Margin: 0; color: #333333; font-size: 14px; line-height: 20px; font-family: 'Tahoma', sans-serif, 'Fira Sans'; text-align: center;">
                                    {{email_intro | safe}}
                                    <!--{% if links %}
                                        {% for link in links %}
                                            {% if loop.last != true %}
                                                <a target="_blank" href="{{link.url | safe}}?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content={{link.utm_title | replace(' ', '-') | lower }}-intro" style="color:#000000;text-decoration:none;font-weight:bold">{{link.title}}</a>,
                                            {% else %}
                                                <a target="_blank" href="{{link.url | safe}}?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content={{link.utm_title | replace(' ', '-') | lower }}-intro" style="color:#000000;text-decoration:none;font-weight:bold">{{link.title}}</a>
                                            {% endif %}
                                        {% endfor %}
                                          and <a target="_blank" href="https://news.motability.co.uk/?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content=intro-more" style="color:#000000;text-decoration:none;font-weight:bold">more</a>. -->
                                    {% endif %}
                                </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- INTRO TEXT - E -->
                <!-- HEADER IMAGE - S -->
                <tr>
                    <td class="o-full-width-image" style="padding: 0;  border-bottom: solid 4px; border-color: {{color}};">
                        <a href="{{link_image | safe}}?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content={{image_name | replace(' ', '-') | lower }}" target="_blank" style="text-decoration: none;">
                            <img src="{{image_url}}" alt="{{image_name}}" class="c-font-white" style="border: 0; display: block; width: 100%; max-width: 580px; height: auto;">
                        </a>
                    </td>
                </tr>
                <!-- HEADER IMAGE - E -->
                <!-- HEADER TEXT - S -->
                <tr>
                    <td class="o-one-column" style="padding: 0; background-color: #ffffff;" bgcolor="#ffffff">
                        <table width="100%" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333;">
                            <tr>
                                <td class="o-inner o-contents" style="padding: 10px; width: 100% !important; text-align: center;" width="100%" align="center">
                                <div style="line-height: 20px; height: 20px; font-size: 20px;">&nbsp;</div>
                                    <p class="c-h1 c-text-center c-font-white" style="Margin: 0; color: #2fa487; font-size: 30px; line-height: 40px; font-weight: bold; Margin-bottom: 10px; font-family: 'Tahoma', sans-serif, 'Fira Sans'; text-align: center;">
                                    
                                        <a class="c-font-white" href="{{link_headline | safe}}?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content={{image_name | replace(' ', '-') | lower }}" target="_blank" style="text-decoration: none; color: #2fa487; font-family: 'Tahoma', sans-serif, 'Fira Sans';">
                                            {{headline | safe}}
                                        </a>
                                    </p>
                                    <p class="c-body-font-14 c-text-center c-font-white" style="Margin: 0; color: #000000; font-size: 14px; line-height: 20px; Margin-bottom: 12px; font-family: 'Tahoma', sans-serif, 'Fira Sans'; text-align: center;">
                                        {{body_copy | safe}}
                                    </p>
                                    <table cellpadding="0" cellspacing="0" class="c-btn c-btn-white" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; width: 100% !important; padding: 0; margin: 0;" width="100%" align="center">
                                        <tr>
                                            <td align="center" style="padding: 0; padding-bottom: 5px; text-align: center;">
                                                <table cellpadding="0" cellspacing="0" align="center" style="border-spacing: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans'; color: #333333; text-align: center; ">
                                                    <tr>
                                                    
                                                        <td style="padding: 10px 20px; background-color: #223f8f; text-align: center;" bgcolor="#223f8f" align="center">
                                                            <a href="{{link_cta | safe}}?utm_source={{utm_source}}&utm_medium={{utm_medium}}&utm_campaign={{utm_campaign}}&utm_content={{image_name | replace(' ', '-') | lower }}" target="_blank" style="text-decoration: none; background-color: #223f8f; color: #ffffff; cursor: pointer; display: inline-block; font-size: 16px; font-weight: 400; margin: 0; font-family: 'Tahoma', sans-serif, 'Fira Sans';">
                                                                {{cta_button_copy | safe}}
                                                            </a>
                                                        </td>
                                                        
                                                    </tr>
                                                </table>
                                                <div style="line-height: 10px; height: 10px; font-size: 10px;">&nbsp;</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- HEADER TEXT - E -->
                <!-- **** -->
            </table>
            <!--[if (gte mso 9)|(IE)]>
            <div style="line-height: 20px; height: 20px; font-size: 20px;">&nbsp;</div>
            </td>
            </tr>
            </table>
            <![endif]-->
        </div>
    </center>
    <!-- *************************************************** END *************************************************** -->