{# UTM TRACKING #}
{% set utm_campaign = "enewsletter" %}
{% set utm_source = "wav-enewsletter-may-2020" %} {# UTM Builder in Briefing Document #}
{% set utm_medium = "email" %}


{# HEADER #}
{% include "partials/head.nunjucks" %}


{# PREHEADER #}
{% set preheader = "May 2020 Newsletter" %}


{# LEAD ARTICLE #}
{% set greeting     = "Hello %%First_name%%," %}
{% set email_intro  = "Welcome to your Motability Scheme e-newsletter. With the country still in lockdown, we’re all looking at ways to keep entertained at home. In this month’s e-newsletter you’ll find a round-up of virtual visits and tours so you can see the world without leaving your chair as well as some tips from Helen Dolphin on exercising at home. " %}



{# LEAD ARTICLE #}
{% set lead_article_cate_type   = "blue" %} {# blue #}
{% set article                  = "article2" %}
{% set image_url                = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/cb580dbc-3275-477a-8da4-26004947d96e.jpg" %} {# Image size, width: 580px | height: 218px #}
{% include "partials/header.nunjucks" %}


{# STORIES 1 & 2 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article1" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/8ab38d17-52b3-4693-85b4-1790adb2bf50.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article3" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/b7d0d4ef-d8de-4f7d-9d8e-dd7cc30a038d.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}
    

{# STORIES 3 & 4 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article4" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/e539fb91-b37c-4d47-ad6e-eb8c021cd544.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article5" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/fc74beef-4adc-4c08-af33-35537ce5eda3.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}


{# STORIES 5 & 6 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article6" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/30b42051-0d1c-4517-a609-2dba51f7a51d.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article11" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/f3a19b09-4ea9-43c8-93a7-d26ace50e8c0.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}

{# News Links #}

{% set article_cate_type  = "blue" %}

{% set cta_button_copy_1    = "5 quick and easy ways to lower your stress" %}
{% set link_cta_1           = "https://news.motability.co.uk/everyday-tips/5-quick-and-easy-ways-to-lower-your-stress/" %}
{% set utm_content_1        = "lower-stress" %}

{% set cta_button_copy_2    = "The fun of remote learning" %}
{% set link_cta_2           = "https://news.motability.co.uk/inspiration/the-fun-of-remote-learning/" %}
{% set utm_content_2        = "remote-learning" %}

{% set cta_button_copy_3    = "Indoor gardening with Helen Dolphin" %}
{% set link_cta_3           = "https://news.motability.co.uk/inspiration/helen-dolphins-guide-to-indoor-gardening/" %}
{% set utm_content_3        = "gardening" %}

{% set cta_button_copy_4    = "Article 4" %}
{% set link_cta_4           = "" %}
{% set utm_content_4        = "" %}

{% set cta_button_copy_5   = "Article 5" %}
{% set link_cta_5           = "" %}
{% set utm_content_5        = "" %}
{% include "snippets/fw-news-links.nunjucks" %}


{# FOOTER #}
{% set footer_type = "customer-wav" %} {# sign-up | prospects | customer | customer-pws | customer-wav #}
{% include "partials/footer-new.nunjucks" %}