{# UTM TRACKING #}
{% set utm_campaign = "enewsletter" %}
{% set utm_source = "pws-enewsletter-jun-2020" %} {# UTM Builder in Briefing Document #}
{% set utm_medium = "email" %}


{# HEADER #}
{% include "partials/head.nunjucks" %}


{# PREHEADER #}
{% set preheader = "June 2020 Newsletter" %}


{# LEAD ARTICLE #}
{% set greeting     = "Hello %%First_name%%," %}
{% set email_intro  = "Welcome to your Motability Scheme e-newsletter. Community spirit and support are helping people get through this difficult period. So, in this month’s e-newsletter we look at accessible ways to stay connected with friends and family as well as how Scheme customers are supporting each other on our social media&nbsp;channels." %}



{# LEAD ARTICLE #}
{% set lead_article_cate_type   = "blue" %} {# blue #}
{% set article                  = "article6" %}
{% set image_url                = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/11b8254b-a573-4637-97ca-bd821fbce8fb.jpg" %} {# Image size, width: 580px | height: 218px #}
{% include "partials/header.nunjucks" %}


{# STORIES 1 & 2 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article2" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/8cda82b6-4ad0-47e4-b2d7-b42dcbfee2da.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article3" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/615748b3-78cd-4568-9b65-274d85408831.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}
    

{# STORIES 3 & 4 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article4" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/9de4644a-5ec4-41da-8bee-baec8c9f45e7.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article5" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/0c38091a-3afd-4b91-b2fd-2893351a4ac8.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}

{# News Links #}

{% set article_cate_type  = "blue" %}

{% set cta_button_copy_1    = "Read our latest Scheme updates on COVID-19" %}
{% set link_cta_1           = "https://news.motability.co.uk/scheme-news/updates-from-the-motability-scheme-regarding-covid-19-coronavirus/" %}
{% set utm_content_1        = "covid-19" %}

{% set cta_button_copy_2    = "Disabled student teaching sign language to thousands with free video lessons" %}
{% set link_cta_2           = "https://news.motability.co.uk/inspiration/disabled-student-teaching-sign-language-to-thousands-with-free-video-lessons/" %}
{% set utm_content_2        = "sign-language" %}

{% set cta_button_copy_3    = "Virtual pub showcases skills of disabled community to patrons in lockdown" %}
{% set link_cta_3           = "https://news.motability.co.uk/inspiration/virtual-pub-showcases-skills-of-disabled-community-to-patrons-in-lockdown/" %}
{% set utm_content_3        = "virtual-pub" %}

{% set cta_button_copy_4    = "Article 4" %}
{% set link_cta_4           = "" %}
{% set utm_content_4        = "" %}

{% set cta_button_copy_5   = "Article 5" %}
{% set link_cta_5           = "" %}
{% set utm_content_5        = "" %}
{% include "snippets/fw-news-links.nunjucks" %}


{# FOOTER #}
{% set footer_type = "customer-pws" %} {# sign-up | prospects | customer | customer-pws | customer-wav #}
{% include "partials/footer-newsocials.nunjucks" %}