{# UTM TRACKING #}
{% set utm_campaign = "enewsletter" %}
{% set utm_source = "" %} {# UTM Builder #}
{% set utm_medium = "email" %}


{# HEADER #}
{% include "partials/head.nunjucks" %}


{# PREHEADER #}
{% set preheader = "October 2019 Newsletter" %}


{# Intro #}
{% set greeting     = "Hello %%First_name%%," %}
{% set email_intro  = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam" %}



{# LEAD ARTICLE #}
{% set lead_article_cate_type   = "blue" %} {# blue #}
{% set image_name               = "TBC" %}
{% set image_url                = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/9f00043f-b837-43e1-8513-06a6120db0b7.jpg" %} {# Image size, width: 580px | height: 218px #}
{% set headline                 = "Headline" %}
{% set body_copy                = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam" %}
{% set cta_button_copy          = "Button Text" %}
{% set link_image               = "https://www.motability.co.uk" %}  
{% set link_headline            = "https://www.motability.co.uk" %}
{% set link_cta                 = "https://www.motability.co.uk" %}
{% include "partials/header.nunjucks" %}


{# STORIES 1 & 2 #}
{% set article_cate_type_1  = "blue" %} {# blue #}
{% set image_name_1         = "TBC" %}
{% set image_url_1          = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/80aede85-2601-49ce-b734-4d189ae67ada.jpg" %} {# Image size, width: 450px | height: 280px #}
{% set headline_1           = "Headline" %}
{% set body_copy_1          = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam" %}
{% set cta_button_copy_1    = "Button Text" %}
{% set link_image_1         = "https://www.motability.co.uk" %}  
{% set link_headline_1      = "https://www.motability.co.uk" %}
{% set link_cta_1           = "https://www.motability.co.uk" %}

{% set article_cate_type_2  = "blue" %} {# blue #}
{% set image_name_2         = "TBC" %}
{% set image_url_2          = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/80aede85-2601-49ce-b734-4d189ae67ada.jpg" %} {# Image size, width: 450px | height: 280px #}
{% set headline_2           = "Headline" %}
{% set body_copy_2          = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam" %}
{% set cta_button_copy_2    = "Button Text" %}
{% set link_image_2         = "https://www.motability.co.uk" %}  
{% set link_headline_2      = "https://www.motability.co.uk" %}
{% set link_cta_2           = "https://www.motability.co.uk" %}

{% include "snippets/two-stories.nunjucks" %}
    

{# STORIES 3 & 4 #}
{% set article_cate_type_1  = "blue" %} {# blue #}
{% set image_name_1         = "TBC" %}
{% set image_url_1          = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/80aede85-2601-49ce-b734-4d189ae67ada.jpg" %} {# Image size, width: 450px | height: 280px #}
{% set headline_1           = "Headline" %}
{% set body_copy_1          = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam" %}
{% set cta_button_copy_1    = "Button Text" %}
{% set link_image_1         = "https://www.motability.co.uk" %}  
{% set link_headline_1      = "https://www.motability.co.uk" %}
{% set link_cta_1           = "https://www.motability.co.uk" %}

{% set article_cate_type_2  = "blue" %} {# blue #}
{% set image_name_2         = "TBC" %}
{% set image_url_2          = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/80aede85-2601-49ce-b734-4d189ae67ada.jpg" %} {# Image size, width: 450px | height: 280px #}
{% set headline_2           = "Headline" %}
{% set body_copy_2          = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam" %}
{% set cta_button_copy_2    = "Button Text" %}
{% set link_image_2         = "https://www.motability.co.uk" %}  
{% set link_headline_2      = "https://www.motability.co.uk" %}
{% set link_cta_2           = "https://www.motability.co.uk" %}

{% include "snippets/two-stories.nunjucks" %}


{# STORY 5 #}

{% set article_cate_type  = "blue" %} {# blue #}
{% set image_name         = "TBC" %}
{% set image_url          = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/801ed966-a568-4283-b9b7-dd246d6503e3.jpg" %} {# Image size, width: 450px | height: 280px #}
{% set headline           = "Headline" %}
{% set body_copy          = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam" %}
{% set cta_button_copy    = "Button Text" %}
{% set link_image         = "https://www.motability.co.uk" %}  
{% set link_headline      = "https://www.motability.co.uk" %}
{% set link_cta           = "https://www.motability.co.uk" %}

{% include "snippets/fw-story.nunjucks" %}

{# News Links #}

{% set article_cate_type  = "blue" %}

{% set cta_button_copy_1    = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor" %}
{% set link_cta_1           = "https://www.motability.co.uk" %}

{% set cta_button_copy_2    = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor" %}
{% set link_cta_2           = "https://www.motability.co.uk" %}

{% set cta_button_copy_3    = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor" %}
{% set link_cta_3           = "https://www.motability.co.uk" %}

{% set cta_button_copy_4    = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor" %}
{% set link_cta_4           = "https://www.motability.co.uk" %}

{% set cta_button_copy_5   = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor" %}
{% set link_cta_5           = "https://www.motability.co.uk" %}
{% include "snippets/fw-news-links.nunjucks" %}


{# FOOTER #}
{% set footer_type = "customer" %} {# sign-up | prospects | customer | customer-pws #}
{% include "partials/footer-new.nunjucks" %}