{# UTM TRACKING #}
{% set utm_campaign = "enewsletter" %}
{% set utm_source = "cust-standard-car-enewsletter-dec-2019" %} {# UTM Builder in Briefing Document #}
{% set utm_medium = "email" %}


{# HEADER #}
{% include "partials/head.nunjucks" %}


{# PREHEADER #}
{% set preheader = "December 2019 Newsletter" %}


{# LEAD ARTICLE #}
{% set greeting     = "Hello %%First_name%%," %}
{% set email_intro  = "Season's greetings from the Motability Scheme. Highlights of your e-newsletter this month include accessible festive days out, Christmas markets and how your car insurance works" %}



{# LEAD ARTICLE #}
{% set lead_article_cate_type   = "blue" %} {# blue #}
{% set article                  = "article1" %}
{% set image_url                = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/ec70680a-3674-4ffb-8f42-bd5159fa3bd7.gif" %} {# Image size, width: 580px | height: 218px #}

{% include "partials/header.nunjucks" %}


{# STORIES 1 & 2 #}
{% set article_cate_type_1  = "blue" %} {# blue #}
{% set article_1            = "article3" %}
{% set space_1              = "" %}
{% set image_url_1          = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/6790b954-cf73-49af-8c18-ce306e3bfe92.jpg" %} {# Image size, width: 450px | height: 280px #}


{% set article_cate_type_2  = "blue" %} {# blue #}
{% set article_2            = "article9" %}
{% set space_2              = "<br>&nbsp;" %}
{% set image_url_2          = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/ae80c3cc-b9ea-4b61-8cd2-8e33dad04515.jpg" %} {# Image size, width: 450px | height: 280px #}

{% include "snippets/two-stories.nunjucks" %}
    

{# STORIES 3 & 4 #}
{% set article_cate_type_1  = "blue" %} {# blue #}
{% set article_1            = "article2" %}
{% set space_1              = "<br>&nbsp;" %}
{% set image_url_1          = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/ff36b0a1-8b59-4717-af3e-5e1d13c02091.jpg" %} {# Image size, width: 450px | height: 280px #}


{% set article_cate_type_2  = "blue" %} {# blue #}
{% set article_2            = "article8" %}
{% set space_2              = "" %}
{% set image_url_2          = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/e8a5f775-b587-4977-a3e9-990f32f4da3e.jpg" %} {# Image size, width: 450px | height: 280px #}

{% include "snippets/two-stories.nunjucks" %}


{# STORY 5 #}

{% set lead_article_cate_type   = "blue" %} {# blue #}
{% set article                  = "article13" %}
{% set image_url                = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/4cf188b7-da4e-4270-ac9a-10bafdd9bef0.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/fw-story.nunjucks" %}

{# News Links #}

{% set article_cate_type  = "blue" %}

{% set cta_button_copy_1    = "Indoor hobby inspiration for rainy days" %}
{% set link_cta_1           = "https://news.motability.co.uk/places/indoor-hobby-inspiration-for-rainy-days/" %}
{% set utm_content_1        = "rainy-days" %}

{% set cta_button_copy_2    = "Preparing for the festivities" %}
{% set link_cta_2           = "https://news.motability.co.uk/everyday-tips/preparing-for-the-festivities/" %}
{% set utm_content_2        = "festivities" %}

{% set cta_button_copy_3    = "Accessible Days Out: The Thames Clippers river boat, Royal Observatory and Cutty&nbsp;Sark" %}
{% set link_cta_3           = "https://news.motability.co.uk/places/accessible-days-out-the-thames-clippers-river-boat-royal-observatory-and-cutty-sark/" %}
{% set utm_content_3        = "days-out" %}

{% include "snippets/fw-news-links.nunjucks" %}


{# FOOTER #}
{% set footer_type = "customer" %} {# sign-up | prospects | customer | customer-pws | customer-wav #}
{% include "partials/footer-new.nunjucks" %}