{# UTM TRACKING #}
{% set utm_campaign = "enewsletter" %}
{% set utm_source = "signup-welcome-car-enewsletter-dec-2019" %} {# UTM Builder in Briefing Document #}
{% set utm_medium = "email" %}


{# HEADER #}
{% include "partials/head.nunjucks" %}


{# PREHEADER #}
{% set preheader = "December 2019 Newsletter" %}


{# LEAD ARTICLE #}
{% set greeting     = "Hello %%First_name%%," %}
{% set email_intro  = "Thanks for requesting to receive our monthly Motability Scheme e-newsletter. Highlights this month include our video on visiting a car dealership, accessible festive days out and Christmas markets" %}



{# LEAD ARTICLE #}
{% set lead_article_cate_type   = "blue" %} {# blue #}
{% set article                  = "article10" %}
{% set image_url                = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/b1541fe2-3e3d-4b0f-a38b-e2538cdeb008.jpg" %} {# Image size, width: 580px | height: 218px #}
{% include "partials/header.nunjucks" %}


{# STORIES 1 & 2 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article6" %}
{% set space_1                  = "<br>&nbsp;" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/14768cbe-972e-426c-a075-2554aae59148.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article1" %}
{% set space_2                  = "" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/b32c0f24-139c-476d-8b5d-e403c62006e4.gif" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}
    

{# STORIES 3 & 4 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article3" %}
{% set space_1                  = "" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/6790b954-cf73-49af-8c18-ce306e3bfe92.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article9" %}
{% set space_2                  = "<br>&nbsp;" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/ae80c3cc-b9ea-4b61-8cd2-8e33dad04515.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}


{# STORY 5 #}

{% set lead_article_cate_type   = "blue" %} {# blue #}
{% set article                  = "article2" %}
{% set image_url                = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/f173fadc-3da7-4754-9d19-9ba7c66d4a35.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/fw-story.nunjucks" %}

{# News Links #}

{% set article_cate_type  = "blue" %}

{% set cta_button_copy_1    = "Indoor hobby inspiration for rainy days" %}
{% set link_cta_1           = "https://news.motability.co.uk/places/indoor-hobby-inspiration-for-rainy-days/" %}
{% set utm_content_1        = "rainy-days" %}

{% set cta_button_copy_2    = "Preparing for the festivities" %}
{% set link_cta_2           = "https://news.motability.co.uk/everyday-tips/preparing-for-the-festivities/" %}
{% set utm_content_2        = "festivities" %}

{% set cta_button_copy_3    = "Accessible Days Out: The Thames Clippers river boat, Royal Observatory and Cutty&nbsp;Sark" %}
{% set link_cta_3           = "https://news.motability.co.uk/places/accessible-days-out-the-thames-clippers-river-boat-royal-observatory-and-cutty-sark/" %}
{% set utm_content_3        = "days-out" %}

{% include "snippets/fw-news-links.nunjucks" %}


{# FOOTER #}
{% set footer_type = "sign-up" %} {# sign-up | prospects | customer | customer-pws | customer-wav #}
{% include "partials/footer-new.nunjucks" %}