{# UTM TRACKING #}
{% set utm_campaign = "enewsletter" %}
{% set utm_source = "cust-welcome-car-enewsletter-dec-2019" %} {# UTM Builder in Briefing Document #}
{% set utm_medium = "email" %}


{# HEADER #}
{% include "partials/head.nunjucks" %}


{# PREHEADER #}
{% set preheader = "December 2019 Newsletter" %}


{# LEAD ARTICLE #}
{% set greeting     = "Hello %%First_name%%," %}
{% set email_intro  = "As a Motability Scheme customer we thought you’d like to receive our monthly e-newsletter. Highlights this month include tips to help you make the most of your lease, accessible festive days out and Christmas markets" %}



{# LEAD ARTICLE #}
{% set lead_article_cate_type   = "blue" %} {# blue #}
{% set article                  = "article5" %}
{% set image_url                = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/e07f1426-422a-49c6-9df8-22c302b094af.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "partials/header.nunjucks" %}


{# STORIES 1 & 2 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article1" %}
{% set space_1                  = "" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/b32c0f24-139c-476d-8b5d-e403c62006e4.gif" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article3" %}
{% set space_2                  = "" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/6790b954-cf73-49af-8c18-ce306e3bfe92.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}
    

{# STORIES 3 & 4 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article9" %}
{% set space_1                  = "" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/ae80c3cc-b9ea-4b61-8cd2-8e33dad04515.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article2" %}
{% set space_2                  = "" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/ff36b0a1-8b59-4717-af3e-5e1d13c02091.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}


{# STORIES 5 & 6 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article8" %}
{% set space_1                  = "" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/e8a5f775-b587-4977-a3e9-990f32f4da3e.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article13" %}
{% set space_2                  = "" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/db5b8a4a-35ae-4b31-a8f9-b54f34731c68.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}

{# News Links #}

{% set article_cate_type  = "blue" %}

{% set cta_button_copy_1    = "Indoor hobby inspiration for rainy days" %}
{% set link_cta_1           = "https://news.motability.co.uk/places/indoor-hobby-inspiration-for-rainy-days/" %}
{% set utm_content_1        = "rainy-days" %}

{% set cta_button_copy_2    = "Preparing for the festivities" %}
{% set link_cta_2           = "#" %}
{% set utm_content_2        = "festivities" %}

{% set cta_button_copy_3    = "Accessible Days Out: The Thames Clippers river boat, Royal Observatory and Cutty&nbsp;Sark" %}
{% set link_cta_3           = "https://news.motability.co.uk/places/accessible-days-out-the-thames-clippers-river-boat-royal-observatory-and-cutty-sark/" %}
{% set utm_content_3        = "days-out" %}

{% include "snippets/fw-news-links.nunjucks" %}


{# FOOTER #}
{% set footer_type = "customer" %} {# sign-up | prospects | customer | customer-pws | customer-wav #}
{% include "partials/footer-new.nunjucks" %}