{# UTM TRACKING #}
{% set utm_campaign = "enewsletter" %}
{% set utm_source = "signup-standard-car-enewsletter-mar-2020" %} {# UTM Builder in Briefing Document #}
{% set utm_medium = "email" %}


{# HEADER #}
{% include "partials/head.nunjucks" %}


{# PREHEADER #}
{% set preheader = "March 2020 Newsletter" %}


{# LEAD ARTICLE #}
{% set greeting     = "Hello %%First_name%%," %}
{% set email_intro  = "Welcome to your Motability Scheme e-newsletter. Highlights this month include cars with seven or more seats, information on reverse car cameras and expert speaker sessions at The Big Event" %}



{# LEAD ARTICLE #}
{% set lead_article_cate_type   = "blue" %} {# blue #}
{% set article                  = "article11" %}
{% set image_url                = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/mar-article11-lead2.jpg" %} {# Image size, width: 580px | height: 218px #}
{% include "partials/header.nunjucks" %}


{# STORIES 1 & 2 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article1" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/mar-article1.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article2" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/mar-article2.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}
    

{# STORIES 3 & 4 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article4" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/mar-article4.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article5" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/mar-article5.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}

{# STORIES 5 & 6 #}
{% set lead_article_cate_type_1 = "blue" %} {# blue #}
{% set article_1                = "article14" %}
{% set image_url_1              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/mar-article6.jpg" %} {# Image size, width: 580px | height: 218px #}

{% set lead_article_cate_type_2 = "blue" %} {# blue #}
{% set article_2                = "article7" %}
{% set image_url_2              = "http://image.email.motabilityoperations.co.uk/lib/fe8712717663037a7c/m/3/mar-article7.jpg" %} {# Image size, width: 580px | height: 218px #}

{% include "snippets/two-stories.nunjucks" %}


{# News Links #}

{% set article_cate_type  = "blue" %}

{% set cta_button_copy_1    = "Watch a day in the life with Gem Hubbard #wheelsnoheels" %}
{% set link_cta_1           = "https://news.motability.co.uk/inspiration/video-a-day-in-the-life-with-gem-hubbard/" %}
{% set utm_content_1        = "gem-hubbard" %}

{% set cta_button_copy_2    = "Helen Dolphin explains Clean Air Zones across the UK" %}
{% set link_cta_2           = "https://news.motability.co.uk/everyday-tips/clean-air-zones/" %}
{% set utm_content_2        = "clean-air-zones" %}

{% set cta_button_copy_3    = "Learn disabled chef James Coke’s perfect pancake recipe" %}
{% set link_cta_3           = "https://news.motability.co.uk/everyday-tips/shrove-tuesday-pancakes-with-disabled-chef-james-coke/" %}
{% set utm_content_3        = "pancake-recipe" %}

{% set cta_button_copy_4    = "Article 4" %}
{% set link_cta_4           = "" %}
{% set utm_content_4        = "" %}

{% set cta_button_copy_5   = "Article 5" %}
{% set link_cta_5           = "" %}
{% set utm_content_5        = "" %}
{% include "snippets/fw-news-links.nunjucks" %}


{# FOOTER #}
{% set footer_type = "sign-up" %} {# sign-up | prospects | customer | customer-pws | customer-wav #}
{% include "partials/footer-new.nunjucks" %}